.git
.idea
.DS_Store

/site/vendor
/site/node_modules

/site/.env
/site/.env.backup
/site/.env.bak
/site/auth.json

/site/.phpunit.cache
/site/.phpunit.result.cache

/site/storage/framework/cache/*
/site/storage/framework/sessions/*
/site/storage/framework/views/*
/site/storage/logs/*
/site/storage/app/public/basset/*
/site/storage/app/public/uploads/*
/site/storage/app/tmp/*

/site/public/hot/*
/site/public/storage/*
/site/public/css/*
/site/public/js/*
/site/public/mix-manifest.json

/site/bootstrap/cache/*
