# IDE files
.idea
.vscode

# Docker files
docker-compose.override.yml
/docker/.env
/docker/secrets/*
!/docker/secrets/.keep

# Laravel files
/site/.env
/site/.env.backup
/site/.env.bak
/site/phpunit.dusk.xml

/site/public/css/*
!/site/public/css/.keep
/site/public/js/*
!/site/public/js/.keep
/site/public/build

# System files
.DS_Store
