.idea
.DS_Store
/docker/.env
docker-compose.override.yml

/site/.env
/site/.env.backup
/site/.env.bak
/site/auth.json
/site/phpunit.dusk.xml

/site/public/css/*
!/site/public/css/.keep
/site/public/js/*
!/site/public/js/.keep
/site/public/mix-manifest.json
