.username {
  color: black;
  margin-right: 10px;
}

.navbar {
    background-color: #05a69d;

    .navbar-brand .nav-link {
        color: white;
        font-weight: bold;
        border: 1px solid;
        padding: 0.5rem 1rem;
    }

    .navbar-brand {
        font-size: 1.56rem;
    }

    .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.6) !important;
    }

    li.nav-item {
        font-size: 1.1rem;

        .nav-link {
            color: white;
            font-weight: bold;
        }
        .nav-link:hover {
            color: hsla(0,0%,100%,.8);
        }
    }
}
