.username {
  color: black;
  margin-right: 10px;
}

.navbar {
    background-color: #05a69d;

    .navbar-brand .nav-link {
        color: white;
        font-weight: bold;
        border: 1px solid;
    }

    .navbar-brand {
        font-size: 1.56rem;
    }

    li.nav-item {
        font-size: 1.1rem;

        .nav-link {
            color: white;
            font-weight: bold;
        }
    }
}
