.home-content {
  margin-bottom: 40px;
}

.img-circle {
  border-radius: 50%;
  margin-bottom: -30px;
  background-color: rgb(0, 204, 204);
  width: 206px;
  height: 206px;
  padding: 25px;
  text-align: center;

  div:nth-child(1) {
    padding-bottom: 5px;
  }

  div:nth-child(2) {
    padding-bottom: 5px;
  }

  div:nth-child(3) {
    font-size: 13px;
  }

  div {
    line-height: 18px;
  }
}

.trainings-content {
    margin-top:10px;
}

.trainings-infos {
    margin-top: 50px;
}

@media (min-width: 1200px)
{
    .trainings-content {
        .col-sm-4 {
            margin-left: -15px;
        }
    }
}

@media (max-width: 1200px)
{
  .trainings-infos
  {
    margin-top: 60px;
  }
}

@media (max-width: 768px)
{
  .trainings-infos
  {
    margin-top: 30px;
  }
}

.btn-request {
  color: #fff;
  background-color: #939498 !important;
  border-color: #939498 !important;
}

.trainings,
.no-trainings {
  margin-bottom: 20px;
  margin-top:30px;

  .title {
    color:#828282;
    font-weight: 700;
    font-size: 18px;
    padding-left: 0;
  }
}
