@use 'sass:meta';
@use 'pkg:bootstrap/scss/bootstrap' with (
  $font-family-sans-serif: 'Nunito',
  $font-size-base: 0.9rem,
  $line-height-base: 1.6,
  $min-contrast-ratio: 3,
  $primary: #05a69d,
  $body-bg: #f8fafc,
);
// Font
@import url('https://fonts.googleapis.com/css?family=Nunito');

@include meta.load-css('legacy');
@include meta.load-css('header');
@include meta.load-css('footer');
@include meta.load-css('content');
@include meta.load-css('home');
@include meta.load-css('request');
